@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration

@{
    var advertImageUrl = configuration.GetValue<string>("ImageBaseUrl");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAdvertisement.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <input type="hidden" value="@advertImageUrl" id="hidImagesBaseUrl" />
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebAdvertisement.Web</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    @*<img src="https://image.flaticon.com/icons/png/128/1335/1335806.png" class="w-32" />*@
                    Web Advertisements
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (User.Identity.IsAuthenticated)
                {

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-button-border" asp-area="" asp-controller="Home" asp-action="Index">
                                    @*<img src="https://energypedia.info/images/thumb/9/9c/Icon_Browse_Biogas.svg/128px-Icon_Browse_Biogas.svg.png" class="w-24" />*@
                                    Browse Ads
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-button-border" asp-area="" asp-controller="AdvertManagement" asp-action="Create">
                                    Create
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-2 border-info" style="font-family: 'Actor', sans-serif;">
                        Hello @User.Identity.Name
                    </div>
                    <div class="p-2 border-info ml-1">
                        <a asp-controller="Account" asp-action="Signout">Sign Out</a>
                    </div>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-button-border" asp-controller="Account" asp-action="Login">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-button-border" asp-controller="Account" asp-action="Signup">
                                    Register
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebAdvertisement.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
